.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .main-content {
    flex: 1;
    position: relative;
    background-color: var(--background-color);
  }

  @media (max-width: 768px) {                               
    .app-container {
        flex-direction: column;
    }

    .main-content {
        display: none;
    }

    .main-content.active {
        display: block;
        height: 100vh;
    }
}       